---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TopButton from "../components/TopButton.astro";
import Information from "../components/Information.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portafolio Jvilla">
  <Header />
  <TopButton />
  <Information />
  <div class="w-[100%] mt-[200px] bg-blue-950 pb-[120px]">
    <Experience />
  </div>
  <Projects />
  <Footer />
</Layout>
