<article
  id="labexp"
  class="container mx-auto w-[100%] h-[100%] pt-[100px] flex justify-center"
>
  <section class="w-[100%] md:w-[80%] h-[100%] pt-[70px] flex flex-col">
    <div class="w-[100%] flex justify-center gap-2">
      <svg
        class="text-white w-[30px] h-[30px] sm:w-[40px] sm:h-[40px]"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
        ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path><path
          d="M12 12l0 .01"></path><path d="M3 13a20 20 0 0 0 18 0"></path></svg
      >
      <h2 class="text-center text-2xl sm:text-4xl font-bold text-white">
        Experiencia laboral
      </h2>
    </div>
    <div class="w-[100%] py-5 px-5 mt-[60px] flex flex-col items-center">
      <div class="py-7 px-7 bg-slate-900 rounded-md mb-10 w-[100%] md:w-[60%]">
        <div class="w-[100%] flex items-center justify-between">
          <h4 class="text-blue-300 text-xs mb-2">2021 - Actualmente...</h4>
          <a
            href="https://isaflor.cl/"
            target="_blank"
            class="text-gray-300 hover:text-blue-500 mb-2"
            ><svg
              width="26"
              height="26"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 15l6 -6"></path><path
                d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"
              ></path><path
                d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"
              ></path></svg
            >
          </a>
        </div>
        <h3 class="text-blue-500 text-2xl font-bold mb-2">
          Desarrollador web y encargado de ERP - ISAFLOR
        </h3>
        <p class="text-gray-200 mb-2">
          Es una página web desarrollada para una empresa que vende artículos de
          oficina, casa, materiales de construcción, pinturas, etc. Fue
          desarrollada con el objetivo de tener un catálogo de productos en
          internet.
        </p>
        <div class="mt-5 flex gap-5 flex-wrap">
          <a
            class="bg-gray-800 text-pink-700 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
          >
            <svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              viewBox="0 0 24 24"
              id="html"
              ><path
                fill="#E44D26"
                d="M3.345 21.601 1.419 0h21.162l-1.928 21.597L11.987 24l-8.642-2.399z"
              ></path><path
                fill="#F16529"
                d="m12 22.164 7.003-1.941L20.65 1.766H12v20.398z"></path><path
                fill="#EBEBEB"
                d="M12 9.778H8.494l-.242-2.713H12V4.416H5.357l.063.71.651 7.301H12V9.778zm0 6.88-.012.003-2.95-.797-.189-2.113H6.19l.371 4.16 5.427 1.506.012-.003v-2.756z"
              ></path><path
                fill="#FFF"
                d="M11.991 9.778v2.649h3.262l-.308 3.436-2.955.797v2.756l5.431-1.505.04-.448.623-6.975.065-.711h-.714l-5.444.001zm0-5.362v2.649h6.399l.053-.596.121-1.343.063-.711-6.636.001z"
              ></path></svg
            >
            <span class="font-bold">HTML</span>
          </a>
          <a
            class="bg-gray-800 text-sky-500 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
            ><svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              viewBox="0 0 16 16"
              ><path fill="#2196F3" d="m1 0 1.275 14.4L8 16l5.723-1.599L15 0z"
              ></path><path
                fill="#FAFAFA"
                d="m12.274 4.709-.161 1.809-.486 5.423L8 12.944l-.003.001-3.625-1.004-.253-2.836h1.776l.132 1.471 1.971.532.001-.001 1.974-.532.269-2.451-6.208.017-.176-1.676 6.533-.077.132-1.794-6.84.019-.115-1.669h8.864z"
              ></path></svg
            >
            <span class="font-bold">CSS</span>
          </a>
          <a
            class="bg-gray-800 text-yellow-400 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-2 transicionColor"
          >
            <svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              preserveAspectRatio="xMinYMin meet"
              viewBox="0 0 256 256"
              id="javascript"
              ><path fill="#F7DF1E" d="M0 0h256v256H0V0z"></path><path
                d="M67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371 7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259-19.245 0-30.416-9.967-36.087-21.996M152.381 211.354l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607 9.969 0 16.325-4.984 16.325-11.858 0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257 0-18.044 13.747-31.792 35.228-31.792 15.294 0 26.292 5.328 34.196 19.247L210.29 147.43c-4.125-7.389-8.591-10.31-15.465-10.31-7.046 0-11.514 4.468-11.514 10.31 0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804 0 21.654-17.012 33.51-39.867 33.51-22.339 0-36.774-10.654-43.819-24.574"
              ></path></svg
            >
            <span class="font-bold">JavaScript</span>
          </a>
          <a
            class="bg-gray-800 text-blue-500 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
            ><svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              viewBox="0 0 128 128"
              ><path
                fill="#6181B6"
                d="M64 33.039c-33.74 0-61.094 13.862-61.094 30.961s27.354 30.961 61.094 30.961 61.094-13.862 61.094-30.961-27.354-30.961-61.094-30.961zm-15.897 36.993c-1.458 1.364-3.077 1.927-4.86 2.507-1.783.581-4.052.461-6.811.461h-6.253l-1.733 10h-7.301l6.515-34h14.04c4.224 0 7.305 1.215 9.242 3.432 1.937 2.217 2.519 5.364 1.747 9.337-.319 1.637-.856 3.159-1.614 4.515-.759 1.357-1.75 2.624-2.972 3.748zm21.311 2.968l2.881-14.42c.328-1.688.208-2.942-.361-3.555-.57-.614-1.782-1.025-3.635-1.025h-5.79l-3.731 19h-7.244l6.515-33h7.244l-1.732 9h6.453c4.061 0 6.861.815 8.402 2.231s2.003 3.356 1.387 6.528l-3.031 15.241h-7.358zm40.259-11.178c-.318 1.637-.856 3.133-1.613 4.488-.758 1.357-1.748 2.598-2.971 3.722-1.458 1.364-3.078 1.927-4.86 2.507-1.782.581-4.053.461-6.812.461h-6.253l-1.732 10h-7.301l6.514-34h14.041c4.224 0 7.305 1.215 9.241 3.432 1.935 2.217 2.518 5.418 1.746 9.39zM95.919 54h-5.001l-2.727 14h4.442c2.942 0 5.136-.29 6.576-1.4 1.442-1.108 2.413-2.828 2.918-5.421.484-2.491.264-4.434-.66-5.458-.925-1.024-2.774-1.721-5.548-1.721zM38.934 54h-5.002l-2.727 14h4.441c2.943 0 5.136-.29 6.577-1.4 1.441-1.108 2.413-2.828 2.917-5.421.484-2.491.264-4.434-.66-5.458s-2.772-1.721-5.546-1.721z"
              ></path></svg
            >
            <span class="font-bold">PHP</span>
          </a>
          <a
            class="bg-gray-800 text-blue-700 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
          >
            <svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              viewBox="0 0 128 128"
              ><path
                fill="#00618A"
                d="M116.948 97.807c-6.863-.187-12.104.452-16.585 2.341-1.273.537-3.305.552-3.513 2.147.7.733.809 1.829 1.365 2.731 1.07 1.73 2.876 4.052 4.488 5.268 1.762 1.33 3.577 2.751 5.465 3.902 3.358 2.047 7.107 3.217 10.34 5.268 1.906 1.21 3.799 2.733 5.658 4.097.92.675 1.537 1.724 2.732 2.147v-.194c-.628-.8-.79-1.898-1.366-2.733l-2.537-2.537c-2.48-3.292-5.629-6.184-8.976-8.585-2.669-1.916-8.642-4.504-9.755-7.609l-.195-.195c1.892-.214 4.107-.898 5.854-1.367 2.934-.786 5.556-.583 8.585-1.365l4.097-1.171v-.78c-1.531-1.571-2.623-3.651-4.292-5.073-4.37-3.72-9.138-7.437-14.048-10.537-2.724-1.718-6.089-2.835-8.976-4.292-.971-.491-2.677-.746-3.318-1.562-1.517-1.932-2.342-4.382-3.511-6.633-2.449-4.717-4.854-9.868-7.024-14.831-1.48-3.384-2.447-6.72-4.293-9.756-8.86-14.567-18.396-23.358-33.169-32-3.144-1.838-6.929-2.563-10.929-3.513-2.145-.129-4.292-.26-6.438-.391-1.311-.546-2.673-2.149-3.902-2.927-4.894-3.092-17.448-9.817-21.072-.975-2.289 5.581 3.421 11.025 5.462 13.854 1.434 1.982 3.269 4.207 4.293 6.438.674 1.467.79 2.938 1.367 4.489 1.417 3.822 2.652 7.98 4.487 11.511.927 1.788 1.949 3.67 3.122 5.268.718.981 1.951 1.413 2.145 2.927-1.204 1.686-1.273 4.304-1.95 6.44-3.05 9.615-1.899 21.567 2.537 28.683 1.36 2.186 4.567 6.871 8.975 5.073 3.856-1.57 2.995-6.438 4.098-10.732.249-.973.096-1.689.585-2.341v.195l3.513 7.024c2.6 4.187 7.212 8.562 11.122 11.514 2.027 1.531 3.623 4.177 6.244 5.073v-.196h-.195c-.508-.791-1.303-1.119-1.951-1.755-1.527-1.497-3.225-3.358-4.487-5.073-3.556-4.827-6.698-10.11-9.561-15.609-1.368-2.627-2.557-5.523-3.709-8.196-.444-1.03-.438-2.589-1.364-3.122-1.263 1.958-3.122 3.542-4.098 5.854-1.561 3.696-1.762 8.204-2.341 12.878-.342.122-.19.038-.391.194-2.718-.655-3.672-3.452-4.683-5.853-2.554-6.07-3.029-15.842-.781-22.829.582-1.809 3.21-7.501 2.146-9.172-.508-1.666-2.184-2.63-3.121-3.903-1.161-1.574-2.319-3.646-3.124-5.464-2.09-4.731-3.066-10.044-5.267-14.828-1.053-2.287-2.832-4.602-4.293-6.634-1.617-2.253-3.429-3.912-4.683-6.635-.446-.968-1.051-2.518-.391-3.513.21-.671.508-.951 1.171-1.17 1.132-.873 4.284.29 5.462.779 3.129 1.3 5.741 2.538 8.392 4.294 1.271.844 2.559 2.475 4.097 2.927h1.756c2.747.631 5.824.195 8.391.975 4.536 1.378 8.601 3.523 12.292 5.854 11.246 7.102 20.442 17.21 26.732 29.269 1.012 1.942 1.45 3.794 2.341 5.854 1.798 4.153 4.063 8.426 5.852 12.488 1.786 4.052 3.526 8.141 6.05 11.513 1.327 1.772 6.451 2.723 8.781 3.708 1.632.689 4.307 1.409 5.854 2.34 2.953 1.782 5.815 3.903 8.586 5.855 1.383.975 5.64 3.116 5.852 4.879zM29.729 23.466c-1.431-.027-2.443.156-3.513.389v.195h.195c.683 1.402 1.888 2.306 2.731 3.513.65 1.367 1.301 2.732 1.952 4.097l.194-.193c1.209-.853 1.762-2.214 1.755-4.294-.484-.509-.555-1.147-.975-1.755-.556-.811-1.635-1.272-2.339-1.952z"
              ></path></svg
            >
            <span class="font-bold">MySQL</span>
          </a>
        </div>
      </div>

      <div class="py-7 px-7 bg-slate-900 rounded-md mb-10 w-[100%] md:w-[60%]">
        <div class="w-[100%] flex items-center justify-between">
          <h4 class="text-blue-300 text-xs mb-2">Abril 2017 - octubre 2018</h4>
        </div>
        <h3 class="text-blue-500 text-2xl font-bold mb-2">
          Desarrollador web - VIT
        </h3>
        <p class="text-gray-200 mb-2">
          Se desarrolló una intranet llamada FASVIT. El objetivo de esta página
          fue tener la información detallada del seguro de vida de los empleados
          y sus familiares directos, incluyendo la cobertura que la empresa
          ofrecía a sus empleados, entre otras cosas.
        </p>
        <div class="mt-5 flex gap-5 flex-wrap">
          <a
            class="bg-gray-800 text-pink-700 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
          >
            <svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              viewBox="0 0 24 24"
              id="html"
              ><path
                fill="#E44D26"
                d="M3.345 21.601 1.419 0h21.162l-1.928 21.597L11.987 24l-8.642-2.399z"
              ></path><path
                fill="#F16529"
                d="m12 22.164 7.003-1.941L20.65 1.766H12v20.398z"></path><path
                fill="#EBEBEB"
                d="M12 9.778H8.494l-.242-2.713H12V4.416H5.357l.063.71.651 7.301H12V9.778zm0 6.88-.012.003-2.95-.797-.189-2.113H6.19l.371 4.16 5.427 1.506.012-.003v-2.756z"
              ></path><path
                fill="#FFF"
                d="M11.991 9.778v2.649h3.262l-.308 3.436-2.955.797v2.756l5.431-1.505.04-.448.623-6.975.065-.711h-.714l-5.444.001zm0-5.362v2.649h6.399l.053-.596.121-1.343.063-.711-6.636.001z"
              ></path></svg
            >
            <span class="font-bold">HTML</span>
          </a>
          <a
            class="bg-gray-800 text-sky-500 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
            ><svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              viewBox="0 0 16 16"
              ><path fill="#2196F3" d="m1 0 1.275 14.4L8 16l5.723-1.599L15 0z"
              ></path><path
                fill="#FAFAFA"
                d="m12.274 4.709-.161 1.809-.486 5.423L8 12.944l-.003.001-3.625-1.004-.253-2.836h1.776l.132 1.471 1.971.532.001-.001 1.974-.532.269-2.451-6.208.017-.176-1.676 6.533-.077.132-1.794-6.84.019-.115-1.669h8.864z"
              ></path></svg
            >
            <span class="font-bold">CSS</span>
          </a>
          <a
            class="bg-gray-800 text-pink-600 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
          >
            <img
              src="https://materializecss.com/res/materialize.svg"
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
            />
            <span class="font-bold">Materialize</span>
          </a>
          <a
            class="bg-gray-800 text-yellow-400 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-2 transicionColor"
          >
            <svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              preserveAspectRatio="xMinYMin meet"
              viewBox="0 0 256 256"
              id="javascript"
              ><path fill="#F7DF1E" d="M0 0h256v256H0V0z"></path><path
                d="M67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371 7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259-19.245 0-30.416-9.967-36.087-21.996M152.381 211.354l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607 9.969 0 16.325-4.984 16.325-11.858 0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257 0-18.044 13.747-31.792 35.228-31.792 15.294 0 26.292 5.328 34.196 19.247L210.29 147.43c-4.125-7.389-8.591-10.31-15.465-10.31-7.046 0-11.514 4.468-11.514 10.31 0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804 0 21.654-17.012 33.51-39.867 33.51-22.339 0-36.774-10.654-43.819-24.574"
              ></path></svg
            >
            <span class="font-bold">JavaScript</span>
          </a>
          <a
            class="bg-gray-800 text-blue-500 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
            ><svg
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
              viewBox="0 0 128 128"
              ><path
                fill="#6181B6"
                d="M64 33.039c-33.74 0-61.094 13.862-61.094 30.961s27.354 30.961 61.094 30.961 61.094-13.862 61.094-30.961-27.354-30.961-61.094-30.961zm-15.897 36.993c-1.458 1.364-3.077 1.927-4.86 2.507-1.783.581-4.052.461-6.811.461h-6.253l-1.733 10h-7.301l6.515-34h14.04c4.224 0 7.305 1.215 9.242 3.432 1.937 2.217 2.519 5.364 1.747 9.337-.319 1.637-.856 3.159-1.614 4.515-.759 1.357-1.75 2.624-2.972 3.748zm21.311 2.968l2.881-14.42c.328-1.688.208-2.942-.361-3.555-.57-.614-1.782-1.025-3.635-1.025h-5.79l-3.731 19h-7.244l6.515-33h7.244l-1.732 9h6.453c4.061 0 6.861.815 8.402 2.231s2.003 3.356 1.387 6.528l-3.031 15.241h-7.358zm40.259-11.178c-.318 1.637-.856 3.133-1.613 4.488-.758 1.357-1.748 2.598-2.971 3.722-1.458 1.364-3.078 1.927-4.86 2.507-1.782.581-4.053.461-6.812.461h-6.253l-1.732 10h-7.301l6.514-34h14.041c4.224 0 7.305 1.215 9.241 3.432 1.935 2.217 2.518 5.418 1.746 9.39zM95.919 54h-5.001l-2.727 14h4.442c2.942 0 5.136-.29 6.576-1.4 1.442-1.108 2.413-2.828 2.918-5.421.484-2.491.264-4.434-.66-5.458-.925-1.024-2.774-1.721-5.548-1.721zM38.934 54h-5.002l-2.727 14h4.441c2.943 0 5.136-.29 6.577-1.4 1.441-1.108 2.413-2.828 2.917-5.421.484-2.491.264-4.434-.66-5.458s-2.772-1.721-5.546-1.721z"
              ></path></svg
            >
            <span class="font-bold">PHP</span>
          </a>
          <a
            class="bg-gray-800 text-blue-700 text-[16px] md:text-[20px] py-2 px-2 rounded flex justify-center gap-1 transicionColor"
          >
            <img
              src="https://www.vectorlogo.zone/logos/postgresql/postgresql-icon.svg"
              class="w-[25px] h-[25px] md:w-[30px] md:h-[30px]"
            />
            <span class="font-bold">PostgreSQL</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</article>
