<div class="container mx-auto px-12 shadow-lg">
  <nav class="columns-2">
    <div class="text-white py-5">
      <p class="text-4xl text-blue-600 font-semibold">
        J<span class="text-white font-light">villa</span>
      </p>
    </div>
    <div class="text-white py-5 flex justify-end space-x-3">
      <a href="#" class="py-2 px-4 rounded hover:bg-slate-800"> Inicio</a>
      <a href="#" class="py-2 px-4 rounded hover:bg-slate-800">Sobre mi</a>
      <a href="#" class="py-2 px-4 rounded hover:bg-slate-800">Contacto</a>
      <a
        href="#"
        class="py-2 px-5 bg-blue-600 text-white rounded hover:bg-blue-500 hover:text-white"
        >Claro</a
      >
    </div>
  </nav>
</div>
