<header class="w-[100%] px-10 py-2 bg-slate-900 fixed top-0 left-0 z-10">
  <section class="w-[100%] flex flex-row">
    <div class="w-[50%]">
      <div class="max-w-[150px] flex object-cover">
        <img class="w-[100%] h-[100%]" src="/Logo-blanco.png" />
      </div>
    </div>
    <nav class="w-[50%]">
      <!-- Menu escritorio -->
      <ul
        class="flex-row justify-end items-center gap-2 text-lg font-bold w-[100%] h-[100%] hidden md:flex"
      >
        <li>
          <a
            class="text-white hover:bg-slate-800 rounded px-[12px] py-[10px] transicionColor"
            href="#home">Inicio</a
          >
        </li>
        <li>
          <a
            class="text-white hover:bg-slate-800 rounded px-[12px] py-[10px] hidden lg:inline-block transicionColor"
            href="#labexp">Experiencia laboral</a
          >
        </li>
        <li>
          <a
            class="text-white hover:bg-slate-800 rounded px-[12px] py-[10px] lg:hidden transicionColor"
            href="#labexp">Experiencia</a
          >
        </li>
        <li>
          <a
            class="text-white hover:bg-slate-800 rounded px-[12px] py-[10px] transicionColor"
            href="#projects">Proyecto</a
          >
        </li>
      </ul>
      <!-- Menu movile -->
      <div class="w-[100%] h-[100%] flex justify-end">
        <!-- Boton menu -->
        <button class="text-white md:hidden btnMenu">
          <svg
            width="60"
            height="60"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 6h16"></path><path d="M7 12h13"></path><path d="M10 18h10"
            ></path></svg
          >
        </button>
        <!-- Boton cerrar menu -->
        <button class="text-white hidden md:hidden close">
          <svg
            width="60"
            height="60"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 21a9 9 0 0 0 9 -9a9 9 0 0 0 -9 -9a9 9 0 0 0 -9 9a9 9 0 0 0 9 9z"
            ></path><path d="M9 8l6 8"></path><path d="M15 8l-6 8"></path></svg
          >
        </button>

        <!-- Menu -->
        <ul
          class="w-[100%] bg-white text-center absolute top-[90px] left-0 flex flex-col text-blue-700 text-xl font-bold menu hidden"
        >
          <li class="flex">
            <a
              href="#home"
              class="w-[100%] h-[100%] py-7 hover:bg-blue-500"
              href="">Inicio</a
            >
          </li>
          <li class="flex">
            <a
              href="#labexp"
              class="w-[100%] h-[100%] py-7 hover:bg-blue-500"
              href="">Experiencia laboral</a
            >
          </li>
          <li class="flex">
            <a
              href="#projects"
              class="w-[100%] h-[100%] py-7 hover:bg-blue-500"
              href="">Proyectos</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </section>
</header>

<style>
  .transicionColor:hover {
    transition: all 0.5s ease;
  }
</style>

<script>
  const btnMenu = document.querySelector(".btnMenu");
  const close = document.querySelector(".close");
  const menu = document.querySelector(".menu");

  //   Funcion para abrir y cerrar el menu
  const btnMenuFunction = () => {
    close.classList.toggle("hidden");
    btnMenu.classList.toggle("hidden");
    menu.classList.toggle("hidden");
  };

  //   Evento para cerrar el menu al hacer click en el boton cerrar
  close.addEventListener("click", (e) => {
    e.preventDefault();
    btnMenuFunction();
  });

  //   Evento para abrir el menu al hacer click en el boton menu
  btnMenu.addEventListener("click", (e) => {
    e.preventDefault();
    btnMenuFunction();
  });

  //   Evento para cerrar el menu al hacer click en un enlace
  menu.addEventListener("click", (e) => {
    btnMenuFunction();
  });
</script>
