<article id="projects" class="w-[100%] px-5 py-5 pt-[160px]">
  <section class="container mx-auto w-[100%] h-[100%] flex justify-center">
    <div class="w-[100%] md:w-[80%] h-[100%] flex flex-col">
      <div class="w-[100%] flex gap-2 justify-center text-white font-bold">
        <svg
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 4l8 3v15l-8 -3z"></path><path d="M13 19h6v-15h-14"
          ></path></svg
        >
        <h2 class="text-center text-4xl">Proyectos</h2>
      </div>

      <div
        class="mt-[80px] w-[100%] h-[100%] pb-[120px] flex flex-row gap-4 flex-wrap justify-center"
      >
        <div
          class="w-[100%] sm:w-[45%] lg:w-[23%] h-[100%] rounded-md bg-gray-800 py-3 px-3 mb-[20px] flex flex-col"
        >
          <a
            href="https://ingvac.cl/"
            target="_blank"
            class="text-xl font-bold text-blue-500">INGVAC</a
          >
          <h4 class="text-md text-blue-300">Página web</h4>
          <div class="w-[100%] mb-[20px] flex object-cover">
            <img
              class="mt-[20px] w-[100%] h-[100%]"
              src="/proyectos/ingvac.webp"
              alt=""
            />
          </div>

          <div class="w-[100%] flex gap-3 flex-wrap">
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="30"
                height="30"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M9.5 9h3"></path><path d="M4 9h2.5"></path><path
                  d="M11 9l3 11l4 -9"></path><path d="M5.5 9l3.5 11l3 -7"
                ></path><path
                  d="M18 11c.177 -.528 1 -1.364 1 -2.5c0 -1.78 -.776 -2.5 -1.875 -2.5c-.898 0 -1.125 .812 -1.125 1.429c0 1.83 2 2.058 2 3.571z"
                ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                ></path></svg
              >
              <span class="font-bold">Wordpress</span>
            </a>
          </div>
        </div>

        <div
          class="w-[100%] sm:w-[45%] lg:w-[23%] h-[100%] rounded-md bg-gray-800 py-3 px-3 mb-[20px] flex flex-col"
        >
          <a class="text-xl font-bold text-blue-500">Convertidor</a>
          <h4 class="text-md text-blue-300">Aplicación de escritorio</h4>
          <div class="w-[100%] mb-[20px] flex object-cover justify-center">
            <img
              class="mt-[20px] w-[50%] h-[100%] max-h-[110px]"
              src="/proyectos/Convertidor.webp"
              alt=""
            />
          </div>

          <div class="w-[100%] flex gap-3 flex-wrap">
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 9h-7a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h3"></path><path
                  d="M12 15h7a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-3"></path><path
                  d="M8 9v-4a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v5a2 2 0 0 1 -2 2h-4a2 2 0 0 0 -2 2v5a2 2 0 0 0 2 2h4a2 2 0 0 0 2 -2v-4"
                ></path><path d="M11 6l0 .01"></path><path d="M13 18l0 .01"
                ></path></svg
              >
              <span class="font-bold">Python</span>
            </a>
          </div>
        </div>

        <div
          class="w-[100%] sm:w-[45%] lg:w-[23%] h-[100%] rounded-md bg-gray-800 py-3 px-3 mb-[20px] flex flex-col"
        >
          <a
            href="https://isaflor.cl/"
            target="_blank"
            class="text-xl font-bold text-blue-500">ISAFLOR</a
          >
          <h4 class="text-md text-blue-300">Página web</h4>
          <div class="w-[100%] mb-[20px] flex object-cover">
            <img
              class="mt-[20px] w-[100%] h-[100%]"
              src="/proyectos/ISAFLOR.webp"
              alt=""
            />
          </div>

          <div class="w-[100%] flex gap-3 flex-wrap">
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M13 16v-8l2 5l2 -5v8"></path><path d="M1 16v-8"
                ></path><path d="M5 8v8"></path><path d="M1 12h4"></path><path
                  d="M7 8h4"></path><path d="M9 8v8"></path><path d="M20 8v8h3"
                ></path></svg
              >
              <!-- <span class="font-bold">HTML</span> -->
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                  d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"></path><path
                  d="M8 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"
                ></path><path
                  d="M11 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"
                ></path><path
                  d="M17 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"
                ></path></svg
              >
              <span class="font-bold">CSS</span>
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path><path
                  d="M7.5 8h3v8l-2 -1"></path><path
                  d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5"
                ></path></svg
              >
              <span class="font-bold">JavaScript</span>
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-10 0a10 9 0 1 0 20 0a10 9 0 1 0 -20 0"></path><path
                  d="M5.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653"
                ></path><path
                  d="M15.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653"
                ></path><path d="M12 7.5l-1 5.5"></path><path
                  d="M11.6 10h2.4l-.5 3"></path></svg
              >
              <span class="font-bold">PHP</span>
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M13 21c-1.427 -1.026 -3.59 -3.854 -4 -6c-.486 .77 -1.501 2 -2 2c-1.499 -.888 -.574 -3.973 0 -6c-1.596 -1.433 -2.468 -2.458 -2.5 -4c-3.35 -3.44 -.444 -5.27 2.5 -3h1c8.482 .5 6.421 8.07 9 11.5c2.295 .522 3.665 2.254 5 3.5c-2.086 -.2 -2.784 -.344 -3.5 0c.478 1.64 2.123 2.2 3.5 3"
                ></path><path d="M9 7h.01"></path></svg
              >
              <span class="font-bold">MySQL</span>
            </a>
          </div>
        </div>

        <div
          class="w-[100%] sm:w-[45%] lg:w-[23%] h-[100%] rounded-md bg-gray-800 py-3 px-3 mb-[20px] flex flex-col"
        >
          <a class="text-xl font-bold text-blue-500">VIT</a>
          <h4 class="text-md text-blue-300">Intranet</h4>
          <div class="w-[100%] mb-[20px] flex object-cover">
            <img
              class="mt-[20px] w-[100%] h-[100%]"
              src="/proyectos/VIT.webp"
              alt=""
            />
          </div>

          <div class="w-[100%] flex gap-3 flex-wrap">
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M13 16v-8l2 5l2 -5v8"></path><path d="M1 16v-8"
                ></path><path d="M5 8v8"></path><path d="M1 12h4"></path><path
                  d="M7 8h4"></path><path d="M9 8v8"></path><path d="M20 8v8h3"
                ></path></svg
              >
              <!-- <span class="font-bold">HTML</span> -->
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                  d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"></path><path
                  d="M8 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"
                ></path><path
                  d="M11 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"
                ></path><path
                  d="M17 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"
                ></path></svg
              >
              <span class="font-bold">CSS</span>
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path><path
                  d="M7.5 8h3v8l-2 -1"></path><path
                  d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5"
                ></path></svg
              >
              <span class="font-bold">JavaScript</span>
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <svg
                width="35"
                height="35"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-10 0a10 9 0 1 0 20 0a10 9 0 1 0 -20 0"></path><path
                  d="M5.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653"
                ></path><path
                  d="M15.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653"
                ></path><path d="M12 7.5l-1 5.5"></path><path
                  d="M11.6 10h2.4l-.5 3"></path></svg
              >
              <span class="font-bold">PHP</span>
            </a>
            <a
              class="bg-gray-800 text-blue-200 text-[14px] py-2 rounded flex justify-center items-center gap-1 transicionColor"
            >
              <span class="font-bold">Postgres</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
